<footer id="footer">
  <div class="image">
    <img src="/assets/img/footer-image.jpg">
  </div>
  <div class="contact">
    <nav>
        &#169; Copyright 2012 Kagyu Samye Dzong London |
        <a href="http://www.london.samye.org/contact-us">Contact Us</a> |
        <a href="http://www.london.samye.org/about-us/room-hire">Room Hire</a> |
        <a href="http://www.london.samye.org/sitemap/view">Site Map</a> |
        <a href="http://www.london.samye.org/privacy">Legal</a> |
    </nav>
    <address>       
        15 Spa Road, Bermondsey,<br/>
        Reception: <a href="tel:442033271650">020 3327 1650</a><br/>
        Reception: <a href="mailto:ksdlondon@samye.org">ksdlondon@samye.org</a>
    </address>
    <small>Kagyu Samye Dzong London is part of the Rokpa Trust, Registered Charity Number 1059293</small>
  </div>
</footer>