<header id="header" role="banner">
  <h1>&nbsp;</h1>
  <h2>&nbsp;</h2>
  <nav id="navigation" role="main-navigation" class="nav-hide">
    <div id="hamburger">
      <img src="/assets/img/hamburger.svg">
    </div>
    <ul>
      <li class="link">
        <a href="http://www.london.samye.org/" title="Home" aria-label="Home" accesskey="H">
          <em>H</em>ome
        </a>
      </li>
      <li class="link">
        <a href="http://www.london.samye.org/about-us/" title="About Us" aria-label="About Us" accesskey="A">
          <em>A</em>bout Us
        </a>
      </li>
      <li class="link">
        <a href="http://www.london.samye.org/news/" title="News" aria-label="News" accesskey="N">
          <em>N</em>ews
        </a>
      </li>
      <li class="link">
        <a href="http://www.london.samye.org/programme/all-events/" title="Programme" aria-label="Programme" accesskey="P">
          <em>P</em>rogramme
        </a>
      </li>  
      <li class="link">
        <a href="http://www.london.samye.org/buddhism/" title="Buddhism" aria-label="Buddhism" accesskey="B">
          <em>B</em>uddhism
        </a>
      </li>
      <li class="link">
        <a href="http://www.london.samye.org/meditation/" title="Meditation" aria-label="Meditation" accesskey="M">
          <em>M</em>editation
        </a>
      </li>  
      <li class="link">
        <a href="http://www.london.samye.org/community/" title="Community" aria-label="Community" accesskey="C">
          <em>C</em>ommunity
        </a>
      </li>
      <li class="link">
        <a href="http://www.london.samye.org/well-being/" title="Well-being" aria-label="Well-being" accesskey="W">
          <em>W</em>ell-being
        </a>
      </li>
      <li class="link">
        <a href="http://www.london.samye.org/facilities/" title="Facilities" aria-label="Facilities" accesskey="F">
          <em>F</em>acilities
        </a>
      </li>  
      <li class="link">
        <a href="http://www.london.samye.org/teachings/" title="Teachings" aria-label="Teachings" accesskey="T">
          <em>T</em>eachings
        </a>
      </li>  
      <li class="link">
        <a href="http://www.london.samye.org/gallery/events-2015/lama-yeshe-rinpoche-september-2015-visit/" title="Gallery" aria-label="Gallery" accesskey="G">
          <em>G</em>allery
        </a>
      </li>  
      <li class="link">
        <a href="http://www.london.samye.org/our-shop/" title="Our Shop" aria-label="Our Shop" accesskey="O">
          <em>O</em>ur Shop
        </a>
      </li>  
      <li class="link">
        <a href="http://www.london.samye.org/contact-us/" title="Contact Us" aria-label="Contact Us" accesskey="C">
          <em>C</em>ontact
        </a>
      </li>
    </ul>

</header>

