body {
  max-width: 100%;
  overflow-x: hidden;
}
img {
  max-width: 100%;
}
a {
  text-decoration: none;
}
small {
  font-size: 50%;
}
.button,
.button:hover,
.button:active,
.button:visited {
  color: white;
  border-color: white;
}
#header {
  height: auto;
  display: block;
}
#header h1{
  width: 100%;
  height: 85px;
  display: block;
  background-image: url('/assets/img/ksdl-logo.png');
  background-repeat: no-repeat;
  background-position: left top;
  background-size: 100% auto;
}
#header h2{
  display: none;
}
#navigation {
  z-index: 2;
  width: 136px;
  background-color: white; 
  height: 390px;
  text-align: right;
  position: absolute;
  top: 0;
  right: 0;
  padding: 3px;
  transition: right 0.8s;
}
#navigation.nav-hide {
  right: -150px;
  transition: right 0.4s;
}
#hamburger {
  position: fixed;
  width: 37px;
  height: 12px;
  top: 100px;
  right: 150px;
  color: rgb(0,160,60);
  text-align: center;
}
#hamburger.relative {
  position: absolute;
  top: -24px;
}
#navigation .link {
  list-style-type: none;
  margin: 3px;
  padding-right: 12px;
  border: dotted 2px rgb(0,160,60);
  border-bottom: none;
}
#navigation .link a {
  color: rgb(0,160,60);
  font-weight: 800;
  padding: 6px;
}
main.content-wrapper {}
#footer{
  position: relative;
  bottom: 0;
  right: 0;
  margin: 0;
  padding: 0;
  height: 120px;
  width: 100%;
  background-image: url('/assets/img/footer-bg.jpg');
  background-repeat: repeat-x;
  color: white;
  text-align: right;
}
#footer a, #footer a:hover, #footer a:active { color: white; }
#footer .image {
  display: none;
}
#footer .contact {
  padding: 12px;
  font-size: 89%;
  background-image: url('/assets/img/footer-right.jpg');
  background-repeat: no-repeat;
  background-position: right top;
  background-size: auto 100%;
}
/* Larger than mobile */
@media (min-width: 400px) {
  #header {
    background-color: rgb(255,132,60);
    background-image: url('/assets/img/back.png');
    background-repeat: repeat-x;
    background-size: auto 100%;
    height: 85px;    
  }
  #header h1{
    height: 85px;
    background-size: auto 100%;
  }
}
/* Larger than phablet */
@media (min-width: 550px) {
  #header {
    background-color: rgb(255,132,60);
    background-image: url('/assets/img/back.png');
    background-repeat: repeat-x;
    background-size: auto 100%;
    height: 120px;    
  }
  #header h1{
    height: 120px;
  }
  small {
    font-size: 75%;
  }
}
/* Larger than tablet */
@media (min-width: 750px) {
  header h1, header h2 {
    margin-bottom: 0;
  }
  #hamburger {
    display: none;
  }
  #navigation{
    z-index: 2;
    width: 100%;
    height: 40px;
    background-color: white; 
    margin: 0;
    padding: 0;
    position: relative;
    top: 119px;
    text-align: left;
  }
  #navigation.nav-hide {
    top: -3px;
    right: 0;
  }
  #navigation ul {
    margin: 0;
    padding: 0;
    height: 100%;
    border-bottom: dotted 2px rgb(0, 160, 60);
  }
  #navigation li.secondary {
    display: none;
  }
  #navigation .link {
    margin: 0 -3px 0 -3px;
    width: 12%;
    height: 38px;
    line-height: 40px;
    text-align: center;
    display: inline-block;
    background-color: white;
  }

}
/* Larger than desktop */
@media (min-width: 1000px) {}
/* Larger than Desktop HD */
@media (min-width: 1200px) {
  #header h1{
    width: 45%;
    float: left;
  }
  #header h2{
    display: inline-block;
    width: 45%;
    float: right;
    line-height: 120px;
    width: 45%;
    float:right;
    background-image: url('/assets/img/right.png');
    background-repeat: no-repeat;
    background-position: right top;
  }
  #footer .image {
    display: inline-block;
    float: left;
  }
}