img {
  max-width: 100%;
}
a {
  text-decoration: none;
}
small {
  font-size: 50%;
}
.button {
  margin: 12px auto;
  color: rgb(160,112,160);
  border-color: rgb(160,112,160);
}
#header {
  height: auto;
}
#header h1{
  width: 100%;
  height: 85px;
  display: block;
  background-image: url('/assets/img/ksdl-logo.png');
  background-repeat: no-repeat;
  background-position: left top;
  background-size: 100% auto;
}
#header h2{
  display: none;
}
#footer{
  position: absolute;
  bottom: 0;
  right: 0;
  margin: 0;
  padding: 0;
  height: 120px;
  width: 100%;
  background-image: url('/assets/img/footer-bg.jpg');
  background-repeat: repeat-x;
  color: white;
  text-align: right;
}
#footer a, #footer a:hover, #footer a:active { color: white; }
#footer .image {
  display: none;
}
#footer .contact {
  padding: 12px;
  font-size: 89%;
  background-image: url('/assets/img/footer-right.jpg');
  background-repeat: no-repeat;
  background-position: right top;
  background-size: auto 100%;
}
/* Larger than mobile */
@media (min-width: 400px) {
  #header {
    background-color: rgb(255,132,60);
    background-image: url('/assets/img/back.png');
    background-repeat: repeat-x;
    background-size: auto 100%;
    height: 85px;    
  }
  #header h1{
    height: 85px;
    background-size: auto 100%;
  }
}
/* Larger than phablet */
@media (min-width: 550px) {
  #header {
    background-color: rgb(255,132,60);
    background-image: url('/assets/img/back.png');
    background-repeat: repeat-x;
    background-size: auto 100%;
    height: 120px;    
  }
  #header h1{
    height: 120px;
  }
  small {
    font-size: 75%;
  }
}
/* Larger than tablet */
@media (min-width: 750px) {}
/* Larger than desktop */
@media (min-width: 1000px) {}
/* Larger than Desktop HD */
@media (min-width: 1200px) {
  #header h1{
    width: 45%;
    float: left;
  }
  #header h2{
    display: inline-block;
    width: 45%;
    float: right;
    line-height: 120px;
    width: 45%;
    float:right;
    background-image: url('/assets/img/right.png');
    background-repeat: no-repeat;
    background-position: right top;
  }
  #footer .image {
    display: inline-block;
    float: left;
  }
}